{% extends "./index.html" %}

{% block crumbs %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="#">主页</a>
                </li>
                <li class="active">
                    <a class="this">便捷工具</a>
                </li>
                <li class="active">
                    <a class="this-page">风控审核</a>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <p class="panel-heading" style="display:inline-block; float:left;"></p>
<!--                <input type="search" placeholder="请输入手机号" name="mobile" style="...">
                <button type="submit" id="search_userinfo" onclick=userInfo(mobile)>查询</button>-->
            <form action="/userinfo/" method="post">
                {% csrf_token %}
                <input type="text" name="mobile" placeholder="请输入用户手机号" style="...">
                <input type="submit" value="查询">
            </form>
             <div class="panel-body" style="padding-bottom: 0px;">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th width="90px">uid</th>
                        <th width="170px">name</th>
                        <th width="80px">pid</th>
                        <th width="300px">system_unique_id</th>
                        <th width="100px">audit_id</th>
                        <th width="100px">loan_id</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ uid }}</td>
                            <td>{{ name }}</td>
                            <td>{{ pid }}</td>
                            <td>{{ system_unique_id }}</td>
                            <td>{{ audit_id }}</td>
                            <td>{{ loan_id }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <br><br>

            <div class="panel-body" style="padding-bottom: 0px;">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th width="30px">回调类型</th>
                        <th width="30px">操作</th>
                        <th width="30px">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>风控进件审核</td>
                            <td>
                                <div class="panel-heading">
                                    <button  id="AuditAcceptButton" type="button" onclick="AuditAccept()"><a class="btn btn-primary">通过</a></button>
                                </div>
                            </td>
                            <td>
                                <div class="panel-heading">
                                    <button  id="AuditRejectButton" type="button" onclick="AuditReject()"><a class="btn btn-primary">拒绝</a></button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>风控放款审核</td>
                            <td>
                                <div class="panel-heading">
                                    <button  id="LendingAcceptButton" type="button" onclick="LendingAccept()"><a class="btn btn-primary">通过</a></button>
                                </div>
                            </td>
                            <td>
                                <div class="panel-heading">
                                    <button  id="LendingRejectButton" type="button" onclick="LendingReject()"><a class="btn btn-primary">拒绝</a></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="../js/jquery.slimscroll.min.js"></script>
<script src="../js/klorofil-common.js"></script>
<script src="../js/select_data.js"></script>
<link rel="stylesheet" href="../css/process_block.css">

<script>
to do 
</script>

{% endblock %}
